<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cursos</title>
  <!-- Incluindo Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="/">Sistema Acadêmico</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-dark" href="/">Home</a>
        </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/admin/">Administração</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/Pessoas/">Pessoas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/Ocupacoes/">Ocupações</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/Instituicoes/">Instituições</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/AreasConhecimento/">Áreas do Saber</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/Cursos/">Cursos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/Periodos/">Períodos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/Disciplinas/">Disciplinas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/Matriculas/">Matrículas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/Avaliacoes/">Avaliações</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/Frequencia/">Frequência</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/Turmas/">Turmas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/Cidades/">Cidades</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/Ocorrencias/">Ocorrências</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/DisciplinasCursos/">Disciplinas por Cursos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/TiposAvaliacao/">Tipos de Avaliação</a>
      </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-5">
    <h2 class="mb-4">Tabela de Cursos</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Carga Horária</th>
              <th scope="col">Duração Meses</th>
              <th scope="col">Área de Saber</th>
              <th scope="col">Instituição</th>
            </tr>
            {% for Cursos in cursos %}
          </thead>
          <tbody>
           <td>{{Cursos.nome_curso}}</td>
           <td>{{Cursos.cargaHoraria_curso}}</td>
           <td>{{Cursos.duracaoMeses_curso}}</td>
           <td>{{Cursos.areaSaber_curso}}</td>
           <td>{{Cursos.instituicao_curso}}</td>
          </tbody>
           {% endfor %} 
        </table>
      </div>
    </div>
  </div>

  <!-- Incluindo jQuery e Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
